[Desktop Entry]
Name=Btrfs Assistant
Comment=Change system settings
Exec=sh -c "pkexec btrfs-assistant --xdg-desktop=\$XDG_CURRENT_DESKTOP"
Terminal=false
Type=Application
Icon=btrfs-assistant
Categories=System
NoDisplay=false
